@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.input-style {
  @apply border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-[#0072FF] transition;
}
